<template>
  <div class="parent-container results-parent">
    <Grid propId="909253"></Grid>
  </div>
</template>

<script>
import Grid from "../components/AlbumResults.Grid.vue"

export default {
  name: "App",
  components: {
    Grid,
  },
  methods: {
    goTo: function (route) {
      window.location = route;
    },
  },
};
</script>

<style>
.results-parent {
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    #ce0c53 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
</style>
