<template>
    <div class='hero parent-container'>
        <div class="container">
        <div class="hero-title">Please don't stop the music</div>
            <SearchBarHome></SearchBarHome>
        </div>
    </div>
</template>

<script>
import SearchBarHome from '../components/Home.SearchBar.vue'

export default {
  name: 'HeroHome',
  components: {
    SearchBarHome
  }
}
</script>

<style >
.hero-title{
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: uppercase;
  width: 100%;
}
.hero{
    height: 89vh;
    background-image: url('../assets/music.png'), linear-gradient(
    180deg,
    #ce0c53 60%,
    rgba(2, 0, 36, 1) 10%,
    rgba(0, 212, 255, 1) 100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

</style>
