<template>
    <nav>
        <ul class="navbar">
            <li class="navbar"><a class="active" href="/"></a></li>
        </ul>
    </nav>
</template>
<script>
</script>

<style scoped>
.navbar{
    margin: 0;
    padding: 0;
    height: 60px;
}
.navbar-item{
    padding: 50px;
    background-color: transparent;
}

</style>