<template>
  <div class="dropdown">
    <div :class="searchClass">
    <input
      class="input"
      type="text"
      v-model="inputData"
      placeholder="Search an artist name..."
      @keyup="$emit('update',inputData);"
    /></div>
  </div>
</template>

<script>
export default {
  name: "SearchBar",
  props: {
         inputData: String,
         searchClass: String
      },
  data() {
    return {
    };
  }
}
</script>

<style >
.dropdown{
  width: 100%;

}
.input-container{
  border: #CE0C53 3px solid;
  border-radius: 20px;
  display: flex;
  width: 100%;
  width: auto;
  height: 5.8vh;
  padding-inline-end: 4rem;
  padding-inline-start: 4rem;;
  color: white;
  background-color: var(--search-box-bg, #021531);
}
.input{
  border: none;
  color: white;
  background-color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  outline-width: 0;
}
.input-results{
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid gray;
}
</style>
