<template >
  <div class="container">
    <search
      :searchClass="this.searchClass"
      :inputData="this.searchValue"
      @update="this.searchValue = $event"
    ></search>
    <div class="flex-container">
    <div v-for="x in this.albumList.slice(0, 1)"
        :key="x.collectionId"
        :id="x.collectionId"
        class="subtitle">{{x.artistName}}</div>
      <div
        class="flex-item"
        v-for="x in this.albumList"
        :key="x.collectionId"
        :id="x.collectionId"
      >
        <li class="list-result">
          <div v-if="x === ''">No Results found</div>
          <div><img :src="x.artworkUrl100" /></div>
          <div>{{ x.collectionName }}</div>
        </li>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Search from "./UI/SearchBar.vue";
export default {
  name: "Grid",
  components: {
    Search,
  },
  data() {
    return {
      albumResults: "",
      searchValue: "",
      albumList: "",
      isHidden: true,
      propId: this.$route.params.id,
      searchClass: 'input-container'
    };
  },
  async mounted() {
    try {
      const res = await axios.get(
        process.env.VUE_APP_NODE_DEV_URL + "/lookup/albums/" + this.propId
      );
      this.albumResults = await res.data.data.map((x) => x);
      this.albumList = await this.albumResults;
    } catch (error) {
      for (i in albumResults) {
        if (!i.length) {
          return;
        }
        if (!i.artworkUrl100) {
          return;
        }
        if (!i.collectionName) {
          return;
        }
      }
      console.log(Object.keys(error), error.message);
    }
  },
  methods: {
    getResults: function () {
      if (this.searchValue && this.searchValue.length >= 3) {
        this.albumList = this.albumList.filter((x) =>
          x.collectionName.toLowerCase().includes(this.searchValue)
        );
        console.log(this.albumList.map((x) => x.collectionName));
      } else if (!this.searchValue) {
        this.albumList = this.albumResults;
      }
    },
  },
  watch: {
    searchValue: "getResults",
  },
};
</script>


<style>
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(39, 0, 255, 0.2);
  padding: 3em;
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 20px;
  overflow: hidden;
}
.flex-item {
  background-color: rgba(2, 21, 49, 0.4);
  color: white;
  text-align: center;
  width: 25%;
  margin: 1em;
  padding: 1em;
  border-radius: 10px;
}
.list-result {
  list-style-type: none;
}
</style>
