<template>
  <div class="dropdown">
    <search
      :searchClass="[this.value!=='' ? 'input-container input-results': 'input-container']"
      :inputData="this.searchValue"
      @update="this.searchValue = $event"
    ></search>
    <div>
      <li
        class="results-container"
        v-for="x in this.value.slice(0,10)"
        :key="x.collectionId"
      >
        <router-link
          class="results-item"
          :to="{ name: 'artist', params: { id: x.artistId } }"
          >{{ x.artistName }}</router-link
        >
        <div class="selected" v-if="x === ''">No record found</div>
      </li>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Search from "./UI/SearchBar.vue";
export default {
  name: "SearchBar",
  components: {
    Search,
  },
  data() {
    return {
      value: "",
      column: "album",
      searchValue: ""
    };
  },
  methods: {
    getResults: async function () {
      if (this.searchValue !== "" && this.searchValue.length >= 3) {
        try {
          const res = await axios.get(
            process.env.VUE_APP_NODE_DEV_URL +
              "/search/term/" +
              this.searchValue
          );
          this.value = await res.data.data;
        } catch (err) {
          res.status(500).send(err);
        }
      } else if (this.searchValue === "") {
        this.value = "";
      }
    },
  },
  watch: {
    searchValue: "getResults",
  },
};
</script>

<style >
.dropdown {
  width: 100%;
}
.input-container {
  border: #ce0c53 3px solid;
  border-radius: 20px;
  display: flex;
  width: 100%;
  width: auto;
  height: 5.8vh;
  padding-inline-end: 4rem;
  padding-inline-start: 4rem;
  color: white;
  background-color: var(--search-box-bg, #021531);
}
.input {
  border: none;
  color: white;
  background-color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  outline-width: 0;
}
.input-results {
  border-radius: 20px 20px 0 0;
  border-bottom: 1px solid gray;
}
.results-container {
  height: 5.8vh;
  display: flex;
  border: #ce0c53 solid;
  border-bottom: 0px;
  border-top: 0px;
  padding-inline-end: 4rem;
  padding-inline-start: 4rem;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: var(--search-box-bg, #021531);
}
.results-container:last-child {
  border-bottom: #ce0c53 solid 3px;
  border-radius: 0 0 20px 20px;
}
.results-item {
  text-decoration: none;
  color: white !important;
}
</style>
