<template>
  <div>
    <navbar></navbar>
    <router-view />
  </div>
</template>

<script>
import Navbar from "./components/UI/Navbar.vue";
export default {
  name: "App",
  components: {
    Navbar,
  },
  methods: {
    goTo: function (route) {
      window.location = route;
    },
  },
};
</script>

<style>
body {
  margin: 0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: white;
  margin: 0 !important;
  background: linear-gradient(
    180deg,

    #ce0c53 35%,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.container {
  max-width: 1000px;
  padding: 2em;
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 91vh;
}
.subtitle {
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
}
</style>
